body {
  background: #2E2C2D;
  color: white;
  text-align: center;
}

#world {
  width: 900px;
  margin: auto;
}

.row {
  display: table;
  height: 34px;
}

.cell {
  display: table-cell;
  border: 1px solid #444;
  width: 30px;
  vertical-align: middle;
  text-align: center;
  font-family: arial;
}
